aiobotocore==1.4.1
boto3==1.17.76
botocore
certifi==2023.7.22
fastapi==0.68.1
gunicorn
Keras-Preprocessing==1.1.2
numpy==1.19.2
keras==2.8.0rc0
psycopg2-binary
pydantic==1.7.4
python-dateutil==2.8.1
python-decouple==3.4
requests==2.25.1
s3fs==2021.8.1
sqlalchemy
starlette==0.14.2
tensorflow-cpu
urllib3==1.26.5
uvicorn
